.container {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;

  @include breakpoint(tablet) {
    padding: 0px 40px;
    max-width: 850px;
  }
  
  @include breakpoint(tablethorizontal) {
    padding: 0 20px;
    max-width: 1100px;
  }
  
  @include breakpoint(desktop) {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: auto; 
    margin-right: auto;
    
  }
  
  @include breakpoint(desktopxl) {
    max-width: 1400px;
    padding: 0 165px;
    margin: 0 auto;
    margin-left: auto; 
    margin-right: auto;
  }
  
}