footer {
  padding: 40px 0;
  background-color: $black;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    @include reset-list();
  }
  
  .button {
    background: $gradient-pink-blue;
  }
}