header.header-principal {
  padding-top: 20px;
  padding-bottom: 38px;
   .container {
    display: flex;
    justify-content: space-between;
    align-items:  center
   }
   ul{
    @include reset-list();
   }

   @include breakpoint(tablet) {
    padding-top: 20px;
    padding-bottom: 10px;
   }

   @include breakpoint(tablethorizontal) {
    padding-top: 40px;
    padding-bottom: 10px;

   }
   @include breakpoint(desktop, desktopxl) {
    position: relative;
    z-index: 100;
    margin-bottom: 0;
    margin-top: 38.75px;

   }
}