@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #909090;
}

h2, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: wheat;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Selección de texto
   ========================================================================== */
::-moz-selection {
  background-color: #070D15;
  color: white;
}
::selection {
  background-color: #070D15;
  color: white;
}

header.header-principal {
  background-color: transparent;
  position: relative;
  z-index: 10;
  width: 100%;
  padding-top: 0;
  padding-bottom: 127px;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 46px;
  color: #264065;
}
header.header-principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header.header-principal .header-logo {
  margin-right: 164px;
}
header.header-principal .header-logo img {
  display: block;
}
header.header-principal .primary-nav {
  margin-right: 251px;
}
header.header-principal .primary-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  display: flex;
  gap: 46px;
}
header.header-principal .primary-nav a {
  text-decoration: none;
}
header.header-principal .secondary-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  display: flex;
  gap: 32px;
}
header.header-principal .account-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  display: flex;
  gap: 32px;
}
header.header-principal .account-links ul li:nth-child(1) a {
  list-style: none;
}
header.header-principal .account-links li:nth-child(2) a {
  background-color: #264065;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 32px;
  width: 160px;
  height: 50px;
  padding: 16.5px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 400;
}
header.header-principal .account-links li:nth-child(2) a:hover {
  background-color: #909090;
}
header.header-principal .account-links li:nth-child(2) a--bold {
  font-weight: 900;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #909090;
}

h2, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: wheat;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background-color: #FAF8F5;
}

.green-background-decoration {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 820px;
  background-color: #A9D6CB;
  overflow: hidden;
  z-index: -1;
}
.green-background-decoration::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  left: -15%;
  transform: translateX(-50);
  background-image: url("../img/vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
}

.hero-section {
  padding: 40px 0;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
}
.hero-section .hero-content {
  max-width: 100%;
}
.hero-section .hero-content .hero-title {
  color: #264065;
  margin-bottom: 20px;
}
.hero-section .hero-content .hero.description {
  color: #909090;
}
.hero-section .hero-content .nav-actions-hero ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  display: flex;
  gap: 24px;
}
.hero-section .hero-content .nav-actions-hero ul li:nth-child(1) a {
  background-color: #264065;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 32px;
  width: 160px;
  height: 50px;
  padding: 16.5px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 400;
}
.hero-section .hero-content .nav-actions-hero ul li:nth-child(1) a:hover {
  background-color: #909090;
}
.hero-section .hero-content .nav-actions-hero ul li:nth-child(1) a--bold {
  font-weight: 900;
}
.hero-section .hero-content .nav-actions-hero ul li:nth-child(2) a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.hero-section .hero-content .nav-actions-hero ul li:nth-child(2) a::before {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../img/play.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.hero-stats {
  display: flex;
  margin: 48px 0;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 50px;
  background-color: #A9D6CB;
  padding: 10px;
}

.stat-number {
  margin: 0.5rem 0 0;
}

.stat-description {
  margin-top: 0.25rem;
  max-width: 14ch;
}

.testimonials-group .testimonial-card {
  position: absolute;
  z-index: 10;
  width: 360px;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.testimonials-group .testimonial-card blockquote {
  font-size: 0.85rem;
  margin: 0 0 8px 0;
  color: black;
}
.testimonials-group .testimonial-card cite {
  font-weight: bold;
  font-style: normal;
  color: #264065;
  opacity: 1;
}
.testimonials-group .testimonial-top {
  bottom: 250px;
  left: 250px;
}
.testimonials-group .testimonial-bottom {
  top: 150px;
  right: 100px;
}

.hero-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - 120px);
  gap: 40px;
}

.hero-left {
  flex: 0 0 50%;
  max-width: 50%;
}

.hero-visual {
  flex: 0 0 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 820px;
}
.hero-visual .woman-overlay {
  position: absolute;
  bottom: 130px;
  right: 50px;
  width: auto;
  height: 110%;
  max-width: none;
  z-index: 5;
  -o-object-fit: contain;
     object-fit: contain;
}

html * {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */