@mixin breakpoint($bp){

  @if $bp == tablet {
    @media (min-width: $sbp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $sbp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $sbp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $sbp-desktop-xl) {
      @content;
    }
  }
  
}

@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;

}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

@mixin Dark-Blue(){
  @include button();
  background-image: $gradient-pink-blue;
  &:hover{
    background-color: $col;
  } 
}

@mixin btn(){
  background-color: $secondary;
  color: $white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 32px;
  width: 160px;
  height: 50px;
  padding: 16.5px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 400;

  &:hover {
    background-color: $dark;
  }

  &--bold {
    font-weight: 900;
  }
}