.hero {
  margin-bottom: 40px;
  position: relative;
  overflow: visible;
  background: none;
  @include breakpoint(tablet) {
    margin-bottom: 80px;
    padding-top: 40px;
  }
  @include breakpoint(desktop, desktopxl) {
    position: relative;
    height: 700px;
    //overflow: hidden;
    margin-bottom: 110px;
  }


  &__title {
    margin-bottom: 26px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: $black;
    
    @include breakpoint(tablet) {
      font-weight: 800;
      padding-right: 60px;
      line-height: 50px;
    }
    @include breakpoint(tablethorizontal) {
      font-size: 56px;
      font-weight: 800;
      line-height: normal;
      }
    
    @include breakpoint(desktop, desktopxl, desktopultra) {
      max-width: 80%;
      font-size: 44px;
      line-height: 55px;
    }
  }

  &__subtitle {
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 26px;
    color: $grey;
    font-weight: 500;
    letter-spacing: 0.1px;
    padding-right: 15px;
    
    
    @include breakpoint(tablet, tablethorizontal, desktop, desktopxl, desktopultra) {
      max-width: 90%;
      font-weight: 400;
      margin-top: 30px;
      padding-right: 40px;
    }
    @include breakpoint(tablethorizontal) {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      }
    
    @include breakpoint(desktop, desktopxl, desktopultra) {
      max-width: 80%;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__buttons {
    margin-bottom: 40px;
    font-weight: 400;
  }

  &__img{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    position: relative;
    
    @include breakpoint(tablet) {
      width: 60%;
      margin: 0;
      padding: 0;
      margin-right: 0;
      margin-left: 0;
      top: -70px;
      right: -390px;
      position: relative;
    }
     @include breakpoint(tablethorizontal) {
      width: 60%;
      margin: 0;
      padding: 0;
      margin-right: 0;
      margin-left: 0;
      top: -90px;
      right: -590px;
      position: relative;
    }
     @include breakpoint(desktop, desktopxl) {
      width: 60%;
      //transform: translateY(-3rem);
      position: relative;
      z-index: 20;
      right: -120px;
      top: -110px;
    }

  }

  &__number {
    display: inline-block;
    width: max-content;
    background-color: white;
    color: $black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 -5px 10px #ccc;

    span {
      display: block;
    }

    &-title {
      font-size: 14px;
      color: $grey;
    }
    
    &-number {
      color: $black;
      font-size: 32px;
      font-weight: 700;
    }
    
    &-1 {
      padding: 16px;
      top: -10%;
      right: -5%;
      
      @include breakpoint(tablet) {
        top: 110px;
        right: 120px;
      }
       @include breakpoint(tablethorizontal) {
        top: 220px;
        right: 190px;
      }
      
      
      @include breakpoint(desktop, desktopxl, desktopultra) {
        top: 30%;
        right: 26%;
      }
    }
    
    &-2 {
      padding: 16px 40px 16px 20px;
      bottom: -10%;
      left: -10%;
      z-index: 20;

      @include breakpoint(tablet) {
        bottom: 30px;
        left: 10px;
      }
       @include breakpoint(tablethorizontal) {
        bottom: 80px;
        left: 50px;
      }
      
      
      @include breakpoint(desktop, desktopxl, desktopultra) {
        bottom: 10%;
        left: 13%
      }
    }
  }


  .container {
    @include breakpoint(tablet, tablethorizontal, desktop, desktopxl) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 60px;
    }
  }

  &__content {
    @include breakpoint(tablet) {
      position: absolute;
      width: 60%;
      padding: 0;
      
    }
    @include breakpoint(tablethorizontal) {
      position: absolute;
      width: 50%;
      padding: 0;
    }
    
    @include breakpoint(desktop, desktopxl, desktopultra) {
      width: 40%;
      max-width: 50%;
    
      
    }
  }
}